# Final Submission

*Introduction:* This is my final submission for this module.

**Data science languages:** These are some commonly used data science languages.
1. Python
2. R
3. Scala
4. SQL
5. Matlab
6. Stata

**Data science libraries:** These are some commonly used data science libraries. Libraries can be used for a variety of tasks.
1. scientific computing libraries (pandas)
2. visualization libraries (matplotlib)
3. machine learning and deep learning libraries (scikit learn)
4. TensorFlow

**Data science tools:** The below table contains some data science tools. <br>
|Tool|Use|
|----|---|
|MySQL|Data Management|
|Hue|Data Visualization|
|Jupyter|Development Environment|
|R Studio|Development Environment|

*The full range of categories of data science tools are data asset management, data visualization, development environments, data integration, model building, model deployment, and code management*

Notebooks can run arithmetic expressions. For example writing 2+2 will return 4 as the system runs the math equation. There are examples below.

In [6]:
x = 2+2
y = 3*2
print('x=',x)
print('y=',y)

x= 4
y= 6

In [7]:
Minutes = 240
Hours = Minutes/60
print(Hours)

4.0

Objectives
- learn data science
- find an interesting industry to work in
- grow my skill set